h1{
    font-family: Arial, Ubuntu, sans-serif;
    color: blue;
    text-align: center;
}
tr{
    font-family: "Comic Sans MS", sans-serif;
    text-align: center;
    color: hotpink;

}
.container{
    align-content: center;
    padding-bottom: 11px;
}
.btn-refresh{
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    border: 2px solid;

}
.button{
    align-content: center;
}