* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav {
    background: #333

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav a{
    text-decoration: none;
    color: white;
    font-family: Verdana, sans-serif;
}
nav a:hover {
    background: black;
}
nav ul li:nth-of-type(4){
    margin-left: auto;
    /* flex-grow: 1;*/
}