@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans&display=swap');




* {
    box-sizing: border-box;
}
body{
    font-family: "Work Sans" ;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background: darkgrey;
    height: 4.25em;
    /** box-sizing:border-box;*/
}
nav ul{
    align-items: center;
    margin: 0;
    list-style: none;
    display: flex;
    padding: 0;
    height: inherit;
}
nav a{
    color: black;
    text-decoration: none;
}
nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: #3B94D9;
}
nav li{
    margin: .5em;
}
li:nth-child(6){
    margin-left: auto;
}
.logo-item{
    display: flex;
    font-size: 3em;
    font-family: sans-serif ;
    position: absolute;
    height: inherit;
    width: 100%;
    margin: 0;
}
.logo{
    margin: auto;
    padding-top: .2em;
    padding-bottom: .2em;

}
li:not(.logo-item){
    z-index: 1;
}