/* selectors */
/* HTML Element Selector */

h1 {
    color: blue;
}

/* Class Selector*/

.orange-bg {
    background-color: #ff0000;
}

/* ID selector*/
#back-to-top {
    color: hotpink;
}

#blue-bg{
    background-color: blue;
}

/* Descendant selector
like this which points to an "li" element */
.orange-bg li {
    font-family: Helvetica, sans-serif;
}

#parent-div h2 {
    color: lightblue;
}

/* Direct Child Dependant */
main th {
    color: darkblue;
}

#type>h2{
    text-decoration: underline;
}

/* Combination Selector */

ul.orange-bg {
    font-size: 24px;
}

a:link{
    color: hotpink;
}
a:visited {
    color: limegreen;

}
a:hover {
    color: firebrick;
}
a:active {
    color: royalblue;
}